/*footer*/

footer
{
    font-size: 0.8em;
    display: flex;
    position: relative;
    background-color: rgb(32, 26, 25);
    color: white;
    width: 100%;
    z-index: 100;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
footer a{
    font-weight: bold;
    color: white;
}
footer p{
display: flex;

justify-content: center;
}
