/*presentation--------------------------------------------- */
#presentation
{
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
    position: relative;
    z-index: 1;
}
.arrows
{

    margin-top: 5%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.arrows2
{
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
.arrow-down, .arrow-down2
{
    height: 25px;
    width: 10%;
    max-width: 70px;
    display: block;
    cursor: pointer;
}
.arrow-up
{
    height: 25px;
    width: 10%;
    max-width: 70px;
    display: block;
    cursor: pointer;
}
.arrow-up2
{
    height: 25px;
    width: 10%;
    max-width: 70px;
    display: block;
    margin-top: -120px;
    cursor: pointer;
}
#aside1
 {
     margin-top: 0%;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-between;
     width: 100%;
     height: 30%;
     margin-left: auto;
     margin-right: auto;
     border-radius: 10px;
 }
.slogan
 {
     padding-left:50px;
     padding-right: 50px;
     text-align: center;
     align-items: center;
     margin-top:5%;
     display: flex;
     margin-left:auto;
     margin-right:auto;
     background-color: rgba(35, 43, 42, 0.8);
     color: white;
     width:220px;
     height:30%;
     font-family: 'Droid Sans', sans-serif;
     font-size: 1.1em;
     line-height: 40px;
     border-radius: 50%;
     font-style: italic;
     justify-content: center;
 }

.frais, .livraison
{
    font-size: 1.7em;
    background-color: rgba(89, 158, 36, 0.84);
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Droid Sans', sans-serif;
    /*width: 200px;*/
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-shadow: 1px 1px 0px #2f2f2f, 2px 2px 0px black;
    text-align: center;
    border-radius: 10px;
}
/*products-----------------------------------------*/
#paniers
{
    font-family: 'Roboto', sans-serif;
}

h2
{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(201, 84, 58);
    margin-top: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    color: white;
}
figure
{
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center ;
    align-items:center  ;
}
figure img{
    width: 50%;
    height: 50%;
     min-width: 80px;
     max-width: 500px;
}
figure:nth-child(1)
{
    margin-top: 50px;
}
figcaption
{
    max-width: 250px;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

 /*contact -----------------------------------------------*/
#contact
{
    font-family: 'Droid Sans', sans-serif;
    background-image: url('../img/background2.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    overflow-y: hidden;
}
.contact-section1
{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 500px;
    font-size: 3vw;
    font-weight: bold;
    margin: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    vertical-align: middle;
}
.mail, .phone
{
height: 200px;
text-align: center;
color: white;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
}
.mail:hover, .phone:hover
{
    background-color: rgba(0, 0, 0, 0.67);
}
.mail p, .phone p
{
    margin: 0px;
}
