/*header*/

@media screen and (max-width: 730px)
{
   .menu
   {
       display:none;
   }
   .responsive_menu
   {
       display: block;
   }
   .arrow-down
   {
       margin-top: 150px;
   }
   .slogan
   {
       max-width: 200px;
        width:50%;
        height: 200px;
        margin-top: 50px;
        font-size: 0.9em;
        line-height: 20px;
   }
   #aside1
   {
       width: 60%;
       min-width: 180px;
       margin-top: 50px;
       flex-direction: column;
       justify-content: space-around;
   }
   .frais, .livraison
   {
        /*max-width: 200px;*/
        width:90%;
        font-size: 0.8em;
   }
   figcaption
   {
       font-size: 0.9em;
   }
   .contact-section1
   {
       padding-top: 10px;
       padding-bottom: 10px;
       font-size:1em;
   }
   .mail img, .phone img
   {
       width: 50px;
       height: 50px;
   }
   h1
   {
      font-size: 1.2em;
   }
   h2
   {
      font-size: 1em;
   }
   #contact
   {
       height: 75%;
       overflow-y: hidden;
   }
   .contact-section1
   {
       height: 100%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       min-height: 300px;
       font-size: 3vw;
       font-weight: bold;
       margin: auto;
       width: 100%;
       background-color: rgba(0, 0, 0, 0.5);
       vertical-align: middle;
   }
}
